body {
    margin: 0;
    font-family: monospace;
    color: white;
}

canvas {
    z-index: 5;
}

#container {
    position:fixed; 
    top:50%; 
    left:50%; 
    margin-top:-220px; 
    margin-left:-220px;
}

kbd { 
    background-color: #245a76;
    border-radius: 4px; 
    padding: 1px 5px; 
    color: #fff; 
    text-decoration: none; 
    font-family: monospace;
    font-size: 14px;
}

.tutorial {
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    text-align: center;
    font-size: 22px;
    opacity: 0;
    cursor: default;
}

#context-dialog {
    z-index: 0;
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    box-sizing: border-box;
    padding: 10px 30px;
    border-bottom: 2px solid white;
    font-size: 16px;
    cursor: default;
    opacity: 0.3;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
}

#context-dialog .contents {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    display: none;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
}

#context-dialog:hover {
    opacity: 1;
}

#context-dialog:hover .contents {
    opacity: 1;
}

.contents table {
    width: initial;
    margin-left: auto;
    margin-right: auto;
}

.contents td {
    width: 100%;
}

.contents#levelcreator td {
    width: 50%;
}

.contents#levelcreator td.full {
    width: 100%;
}

#help-dialog {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    text-align: left;
    font-size: 16px;
    padding: 20px;
    box-sizing: border-box;
    cursor: default;
}

#help-contents {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.15;
    
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
}

#help-dialog:hover #help-contents {
    opacity: 1;
}

#help-dialog h2 {
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 24px;
}

#help-dialog ul {
    list-style: none;
    padding-left: 20px;
    box-sizing: border-box;
    margin: 0;
}

#help-dialog li {
    margin: 5px;
}

#help-dialog a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#help-dialog a:hover {
}